[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
click = "*"
logzero = "*"
slack-bolt = "*"
yt-dlp = "*"

[dev-packages]
black = "*"
isort = {extras = ["pyproject"], version = "*"}
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
